.forgot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--component-bg);
  border-radius: 1.6rem;
  padding: 2.4rem;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.forgot-form a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--links);
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

label {
  color: var(--font-color);
}
