<div class="sidebar-container">
  <h2 class="logo">Notifications</h2>

  <div *ngFor="let notification of notifications">
    <span *ngIf="notification.timestamp > notification.userBelongTo.lastNotification">
      (new)
    </span>

    <div class="notification-box">
      <a routerLink="/profile-feed/{{ notification.userFrom.userId }}">
        {{ notification.userFrom.firstName }}
        {{ notification.userFrom.lastName }}:
      </a>

      <div *ngIf="notification.type == 'comment'">
        <div>
          {{ notification.type | lowercase }}ed on a post
          {{ notification.timestamp | someTimeAgo }}!
        </div>
        <a routerLink="/userFeed/{{ notification.userBelongTo.userId }}">
          View your feed
        </a>
      </div>

      <div *ngIf="notification.type == 'like'">
        <div>
          {{ notification.type | lowercase }}d a post
          {{ notification.timestamp | someTimeAgo }}!
        </div>
        <a routerLink="/userFeed/{{ notification.userBelongTo.userId }}">
          View your feed
        </a>
      </div>
      <div *ngIf="notification.type == 'follow'">
        started {{ notification.type | lowercase }}ing you
        {{ notification.timestamp | someTimeAgo }}!
      </div>
      <div *ngIf="notification.type == 'unfollow'">
        {{ notification.type | lowercase }}ed you
        {{ notification.timestamp | someTimeAgo }}...
      </div>
    </div>
  </div>
</div>
