.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1.6rem;
  padding: 2.4rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.password-reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

label {
  color: #6e7191;
}
