<div class="container">
  <form class="password-reset-form" [formGroup]="passwordResetForm">
    <div class="form-row">
      <label for="">Enter a new password:</label>
      <input type="password" formControlName="password" minlength="8" />
      <div class="warn">
        <ng-container>
          <div
            *ngIf="
              password.hasError('required') &&
              (password.dirty || password.touched)
            "
          >
            Password cannot be empty
          </div>
          <div
            *ngIf="
              password.hasError('minlength') &&
              (password.dirty || password.touched)
            "
          >
            Password must be 8 or more characters
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-row">
      <label for="">Enter your new password again:</label>
      <input type="password" formControlName="verify" minlength="8" />
      <div class="warn">
        <ng-container>
          <div
            *ngIf="
              verify.hasError('required') && (verify.dirty || verify.touched)
            "
          >
            Password cannot be empty
          </div>
          <div
            *ngIf="
              verify.hasError('minlength') && (verify.dirty || verify.touched)
            "
          >
            Password must be 8 or more characters
          </div>
        </ng-container>
      </div>
    </div>

    <app-buttons class="loginPgBtn" id="loginBtn" label="Submit"></app-buttons>
  </form>
</div>
