<div class="update-profile-container">
  <form [formGroup]="imageForm" enctype="multipart/form-data">
    <!-- PROFILE IMAGE FIELD -->
    <div class="form-row">
      <div class="new-profile">
        <button id="uploadBtn" type="button" (click)="fileInput.click()">
          <span>Upload New Profile Image</span>
          <input
            #fileInput
            id="profileImage"
            type="file"
            (change)="onFileInput($event)"
            style="display: none"
            formControlName="image"
            accept="image/png, image/jpeg"
          />
        </button>
        <img id="profile-img" [src]="displayUrl" />
      </div>
    </div>
  </form>

  <form [formGroup]="updateProfileForm">
    <!-- FULL NAME FIELDS -->
    <div class="full-name">
      <div class="form-row">
        <label for="firstName">First Name:</label>
        <input
          id="first-name"
          class="text-field"
          [style.max-width.px]="180"
          type="text"
          formControlName="firstName"
        />
        <div class="warn">
          <ng-container>
            <div
              class="invalid"
              *ngIf="
                firstName.hasError('required') &&
                (firstName.dirty || firstName.touched)
              "
            >
              Must enter first name
            </div>
          </ng-container>
        </div>
      </div>
      <div class="form-row">
        <label for="lastName">Last Name:</label>
        <input
          id="last-name"
          class="text-field"
          [style.max-width.px]="180"
          type="text"
          formControlName="lastName"
        />
        <div class="warn">
          <ng-container>
            <div
              class="invalid"
              *ngIf="
                lastName.hasError('required') &&
                (lastName.dirty || lastName.touched)
              "
            >
              Must enter last name
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="full-name">
      <!-- EMAIL FIELD -->
      <div class="form-row">
        <label for="email">Email:</label>
        <input
          id="email"
          class="text-field"
          [style.width.px]="180"
          type="text"
          formControlName="email"
          (change)="resetEmailTakenMessage()"
        />
        <div class="warn">
          <ng-container>
            <div
              class="invalid"
              *ngIf="
                email.hasError('required') && (email.dirty || email.touched)
              "
            >
              Must enter an email address
            </div>
            <div
              *ngIf="email.hasError('email') && (email.dirty || email.touched)"
            >
              Email address must be valid
            </div>
            <div
              class="warn"
              *ngIf="
                isEmailTaken &&
                !(email.hasError('email') && (email.dirty || email.touched)) &&
                !(email.hasError('required') && (email.dirty || email.touched))
              "
            >
              Email already in use
            </div>
          </ng-container>
        </div>
      </div>
      <!-- PASSWORD FIELD -->
      <div class="form-row">
        <label for="password">Password:</label>
        <input
          id="password"
          class="text-field"
          type="password"
          [style.width.px]="180"
          formControlName="password"
          minlength="8"
        />
        <div class="warn">
          <ng-container>
            <div
              class="invalid"
              *ngIf="
                password.hasError('minlength') &&
                (password.dirty || password.touched)
              "
            >
              Password must be 8 or more characters
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- ABOUT ME FIELD -->
    <div class="form-row">
      <label for="aboutMe">Tells us about yourself:</label>
      <textarea
        name="aboutMe"
        id="aboutMe"
        cols="30"
        rows="5"
        formControlName="aboutMe"
      ></textarea>
    </div>
    <!-- BIRTHDAY FIELD -->
    <div class="form-row">
      <label for="birthday">
        Enter your date of birth: <span>(MM-DD-YYYY)</span>
      </label>
      <input
        type="text"
        name="birthday"
        class="text-field"
        [style.width.px]="180"
        formControlName="bday"
      />
    </div>
  </form>
  <app-buttons
    class="submitBtn"
    id="submitBtn"
    (onClick)="uploadImageAndUpdateProfile($event)"
    label="Submit"
  >
  </app-buttons>
</div>
